body {
  margin: 2.1875rem;
  font-family: "Roboto", sans-serif;
}

nav {
  margin-left: 5.125rem;
  margin-right: 5.125rem;
}

.bar {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul .menu:first-child {
  float: left;
}

.menu {
  float: right;
}

.menu a {
  display: block;
  color: #666;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
}

.menu svg {
  width: 4rem;
  height: 3rem;
}

li a:hover {
  color: #111;
}

main {
  text-align: center;
}

.container {
  margin-left: 6.1875rem;
  margin-right: 6.1875rem;
  padding-top: 2rem;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* .image1 {
  display: block;
  max-width: 33.75rem;
  width: 100%;
  height: auto;
  background-image: url("../Images/Protfolio/Extras/AlgaeWatch/AlgaeWatch.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.image2 {
  display: block;
  max-width: 33.75rem;
  width: 100%;
  height: auto;
  background-image: url("../Images/Protfolio/Extras/Chinglish/Chinglish.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.image3 {
  display: block;
  max-width: 33.75rem;
  width: 100%;
  height: auto;
  background-image: url("../Images/Protfolio/Extras/Panoramic/Panoramic.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.image4 {
  display: block;
  max-width: 33.75rem;
  width: 100%;
  height: auto;
  background-image: url("../Images/Protfolio/Extras/Space/Space.gif");
  background-size: contain;
  background-repeat: no-repeat;
} */

figure {
  position: relative;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  /* height: 33.75rem; */
}

.captions {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 3rem;
  color: white;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

footer {
  margin-left: 5.125rem;
  margin-right: 5.125rem;
}

@media only screen and (max-width: 767px) {
  body {
    margin: 1rem;
  }

  nav {
    display: none;
  }

  .bar {
    display: block;
    padding-bottom: 2rem;
  }

  .logo svg {
    width: 4rem;
    height: 3rem;
    float: left;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6.25rem;
  }

  .sidebar a {
    text-decoration: none;
    font-size: 1.5625rem;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .sidebar a:first-child {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .sidebar a:nth-child(2) {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .sidebar a:nth-child(3),
  .sidebar a:nth-child(4) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 2.25rem;
  }

  .openbtn {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    float: right;
  }

  .container {
    margin: 0;
  }

  .bottom {
    margin: 0;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0rem;
    padding-top: 0;
    padding-bottom: 0.5rem;
  }

  img {
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .bottom ul {
    text-align: center;
  }

  ul .menu {
    display: inline-block;
    float: none;
  }

  footer ul .menu:first-child {
    display: none;
  }

  .menu a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
