body {
  margin: 2.1875rem;
  font-family: "Roboto", sans-serif;
}

nav {
  margin-left: 5.125rem;
  margin-right: 5.125rem;
}

.bar {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul .menu:first-child {
  float: left;
}

.menu {
  float: right;
}

.menu a {
  display: block;
  color: #666;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
}

.menu svg {
  width: 4rem;
  height: 3rem;
}

li a:hover {
  color: #111;
}

.mainImg {
  text-align: center;
  margin-left: 6.1875rem;
  margin-right: 6.1875rem;
}

img {
  width: 100%;
  padding-top: 2.1875rem;
}

.desc img {
  width: 100%;
  /* height: 37.4375rem; */
}

.desc2 img {
  width: 13.625rem;
  /* height: 25rem; */
}

/* .sideList {
  padding-top: 1.5625rem;
} */

.container {
  margin-left: 6.1875rem;
  margin-right: 6.1875rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.left {
  grid-column: 1;
}

.right {
  grid-column-start: 2;
  grid-column-end: 5;
}

.item {
  padding-bottom: 0.625rem;
  /* color: #666; */
}

/* .item a {
  text-decoration: none;
  color: #666;
}

.item a:hover {
  color: #111;
} */

footer {
  margin-left: 5.125rem;
  margin-right: 5.125rem;
}

@media only screen and (max-width: 767px) {
  body {
    margin: 1rem;
  }

  nav {
    display: none;
  }

  .bar {
    display: block;
    padding-bottom: 2rem;
  }

  .logo svg {
    width: 4rem;
    height: 3rem;
    float: left;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 6.25rem;
  }

  .sidebar a {
    text-decoration: none;
    font-size: 1.5625rem;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .sidebar a:first-child {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  .sidebar a:nth-child(2) {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  .sidebar a:nth-child(3),
  .sidebar a:nth-child(4) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .sidebar a:hover {
    color: #f1f1f1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    font-size: 2.25rem;
  }

  .openbtn {
    width: 4rem;
    height: 3rem;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    float: right;
  }

  .mainImg {
    margin: 0;
  }

  .container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .right {
    grid-column: 1;
    grid-row: 2;
  }

  .left {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .role {
    grid-column: 1;
  }

  .tools {
    grid-column: 2;
  }

  .desc2 {
    text-align: center;
  }

  .bottom {
    margin: 0;
  }

  .bottom ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-content: center;
  }

  .bottom li:first-child {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }

  .bottom ul li:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
    text-align: right;
  }

  .bottom ul li:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
    text-align: left;
  }

  .menu {
    float: none;
  }

  .menu a {
    text-align: unset;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
